{% if site.author.name %}
<li class="info author fn n">{{site.author.name}}</li>
{% endif %}
{% if site.author.email %}
<li class="contact"><a href="mailto:{{site.author.email}}" rel="me"><address><span class="fn email">{{ site.author.email }}</span></address></a></li>
{% endif %}
{%comment%}
{% if site.author.github %}
<li class="github"><a href="http://github.com/{{ site.author.github }}/" rel="me">@{{ site.author.github }} on github</a></li>
{% endif %}
{% if site.author.twitter %}
<li class="twitter"><a href="http://twitter.com/{{ site.author.twitter }}/" rel="me">@{{ site.author.twitter }} on twitter</a></li>
{% endif %}
{% if site.author.facebook %}
<li class="facebook"><a href="http://facebook.com/{{ site.author.facebook }}/" rel="me">facebook.com/{{ site.author.facebook }}</a></li>
{% endif %}
{% if site.author.flickr %}
<li class="flickr"><a href="http://flickr.com/{{ site.author.flickr }}/" rel="me">flickr.com/{{ site.author.flickr }}</a></li>
{% endif %}
{% if site.author.yelp %}
<li class="yelp"><a href="http://{{ site.author.yelp }}.yelp.com/" rel="me">{{ site.author.yelp }}.yelp.com</a></li>
{% endif %}
{% if site.author.pinterest %}
<li class="pinterest"><a href="http://pinterest.com/{{ site.author.pinterest }}" rel="me">pinterest.com/{{ site.author.pinterest }}</a></li>
{% endif %}
{%endcomment%}
